DATABASE_URL="postgresql://authentik:authentik_dev@localhost:5432/authentik?schema=public"
JWT_SECRET="dev-only-change-in-prod-use-32+-chars-random"
JWT_EXPIRES_IN="7d"
API_PORT=4000
CORS_ORIGIN="http://localhost:3008,http://localhost:3001,http://localhost:3002"
